.App
{
  display: flex;
  height: 100vh;
  font-family: "Inter", sans-serif;
  justify-content: center;
  align-items: center;
  background-color: #bdd4e7;
  background-image: linear-gradient(#EFE9F4, #5078F2);
}

.GlassCard
{
  display: grid;
  height: 93.75%;
  width: 93.75%;
  border-radius: 12.5px;
  background: rgba(255, 255, 255, 0.25);
  overflow: hidden;
  color: #fff;
  grid-template-columns: 10rem auto 20rem;
}

h1
{
  margin: 5px;
  font-weight: 500;
}