.App
{
  display: flex;
  height: 100vh;
  font-family: "Inter", sans-serif;
  justify-content: center;
  align-items: center;
	background: #282c34;
}

.GlassCard
{
  display: grid;
  height: 100%;
  width: 100%;
  background: transparent;
  overflow: hidden;
  color: #fff;
  grid-template-columns: 10rem auto 20rem;
}

h1
{
  margin: 5px;
  font-weight: 500;
}